*{
    box-sizing: border-box;
    margin: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    margin-top: 120px;
}
.flex{
    display: flex;
}
img{
    max-width: 100%;
}
.menu{
    justify-content: space-between;
    align-items: center;
    width: 45%;
    display: none;
    margin-right: 30px;
}
header{
    background-color: #0084FD;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
}
nav{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;  
    color: white;
}
.link-nav{
    text-decoration: none;
    color: white;
}
.button-wite{
    border: transparent;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}
.icon-medium{
    font-size: 30px;
    margin-right: 10px;
}
.icon-big{
    font-size: 100px;
}
.big-card{
    background-color: #B5DDFF;
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.big-card h2{
    margin-bottom: 25px;
    color: #0084FD;
}
.big-card p{
    line-height: 26px;
    margin-bottom: 25px;
    color: #667D90;
}
.big-card button{
    border: transparent;
    border-radius: 15px;
    background-color: #0084FD;
    color: white;
    padding: 10px 40px;
    font-size: 20px;
    margin-bottom: 25px;
}
.big-card img{
    margin-bottom: -4px;
}
.card{
    background-color: #B5DDFF;
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    text-align: center;
}
.card h2{
    margin-bottom: 25px;
    color: #0084FD;
}
.card p{
    line-height: 26px;
    padding-bottom: 25px;
    color: #667D90;
}
.purple-section{
    background-color: #9792E4;
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
}

.left-sec img{
    margin-bottom: 150px;
}
.left-sec h2{
    color: white;
    margin-bottom: 40px;
}
.left-sec p{
    color: white;
    margin-bottom: 40px;
}
.right-sec{
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}
.right-sec h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.circle{
    background-color: #9792E4;
    border-radius: 50%;
    border: solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-small{
    width: 65%;
    margin: 0 auto;
}
.white-section{
    background-color: white;
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
}
.center{
    justify-content: center;
    align-items: center;
}
.card-purple{
    background-color: #9792E4;
    border-radius: 35px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: white;
    line-height: 25px;
}
.row .col{
    text-align: center;
}
.white-section h2{
    color: #9792E4;
    margin: 40px auto;

}
.circle-img img{
    width: 100%;
    height: 100%;
}
.circle-img{
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}
.card-purple p{
    margin-bottom: 20px;
}













































/* TABLET */
@media screen and (min-width:576px){
    .card-section{
        display: flex;
        flex-wrap: wrap;
    }
    .row-1{
        height: 60%;
        display: flex;
        justify-content: space-between;
        
    }
    .row-1 .card{
        margin-top: 0;
    }
    .row{
        display: flex;
        justify-content: space-between;
    }
    .big-card{
        width: calc(70% - 21px);
        position: relative;
        z-index: 1;
    }
    .big-card img{
        position: relative;
        right: 35px;
    }
    .card{
        width: calc(70% / 2 - 20px);
        
    }
    .card-purple{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle-img{
        width: 400px;
    }
    .testimonials-des{
        text-align: left;
        margin-left: 30px;
        width: 80%;
    }
}















/* DESKTOP */
@media screen and (min-width: 992px){
    .menu-icon{
        display: none;
    }
    .menu{
        display: flex;
    }
    .card-section{
        display: flex;
        flex-wrap: wrap;
    }
    .row-1{
        
        display: flex;
        justify-content: space-between;
    }
    .row-1 .card{
        margin-top: 0;
        
    }
    .row{
        display: flex;
        justify-content: space-between;
    }
    .big-card{
        width: 800px;;
       display: flex;
       margin-right: 20px;
    }
    .text{
        width: 50%;
        
    }
    
    .image{
        width: 60%;
        height: 100%;
        position: relative;
        padding-bottom: 0px;
    }
    .image img{
        position: relative;
        height: auto;
        position: absolute;
        right: 0;
        bottom: 0;
       left: 40px;
        height: 80%;
    }
    .align-purple{
        justify-content: space-between;
        position: relative;
        display: flex;
    }
    .card{
        width: 388px;
        margin-right: 20px;
    }
    
    .purple-section .left-sec{
        width: 45%;
    }
    .purple-section .right-sec{
        width: 40%;
        height: 600px;
        position: absolute;
        bottom: 020px;
        padding: 0 20px;
        bottom: 0;
        right: 0;
    }
    .circle-img{
        width: 50%;
    }
}