*{
    box-sizing: border-box;
    margin: 0;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
}
body{
    margin-top: 120px;
}
.flex{
    display: flex;
}
img{
    max-width: 100%;
}
.menu{
    justify-content: space-between;
    align-items: center;
    width: 45%;
    display: none;
    margin-right: 30px;
}
header{
    background-color: #0084FD;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
}
nav{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;  
    color: white;
}
.link-nav{
    text-decoration: none;
    color: white;
}
.button-wite{
    border: transparent;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
}
.icon-medium{
    font-size: 30px;
    margin-right: 10px;
}
.icon-big{
    font-size: 100px;
}
.big-card{
    background-color: #B5DDFF;
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}
.big-card h2{
    margin-bottom: 25px;
    color: #0084FD;
}
.big-card p{
    line-height: 26px;
    margin-bottom: 25px;
    color: #667D90;
}
.big-card button{
    border: transparent;
    border-radius: 15px;
    background-color: #0084FD;
    color: white;
    padding: 10px 40px;
    font-size: 20px;
    margin-bottom: 25px;
}
.big-card img{
    margin-bottom: -4px;
}
.card{
    background-color: #B5DDFF;
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
    text-align: center;
}
.card h2{
    margin-bottom: 25px;
    color: #0084FD;
}
.card p{
    line-height: 26px;
    padding-bottom: 25px;
    color: #667D90;
}
.purple-section{
    background-color: #9792E4;
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}
.left-sec{
    width: 100%;
}
.left-sec img{
    margin-bottom: 100px;
}
.left-sec h2{
    color: white;
    margin-bottom: 40px;
}
.left-sec p{
    color: white;
    margin-bottom: 40px;
}
.right-sec{
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
}
.right-sec h3{
    margin-top: 30px;
    margin-bottom: 30px;
}
.circle{
    background-color: #9792E4;
    border-radius: 50%;
    border: solid black;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small{
    width: 70%;
    margin: 0 auto;
    padding: 0 2rem;
}
.container-extra-small{
    width: 40%;
    margin: 0 auto;
    padding: 0 2rem;
}
.white-section{
    background-color: white;
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
}
.center{
    justify-content: center;
    align-items: center;
}
.card-purple{
    background-color: #9792E4;
    border-radius: 35px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: white;
    line-height: 25px;
}
.row .col{
    text-align: center;
}
.white-section h2{
    color: #9792E4;
    margin: 40px auto;

}
.circle-img img{
    height: 100%;
    max-width: none;
    transform: translateX(-70px);
}
.circle-img{
    position: relative;
    width: 400px;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 50%;
}
.card-purple p{
    margin-bottom: 20px;
}
.circle-aboutus{
    position: relative;
    width: 200px;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 50%;
}
.img-aboutus{
    height: 100%;
    max-width: none;
}
.card-white{
    background-color: white;
    color: #9792E4;
    border-radius: 12px;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 30px;
    margin-bottom: 30px;
    text-align: left;
}
.card-white h1{
    margin: 20px 0;
    font-size: 70px;
}
.card-white h2{
    margin: 20px 0;
    font-size: 30px;
}
.card-white p{
    color: #969696;
    margin: 20px 0;
    font-size: 20px;
    line-height: 35px;
}
.card-white button{
    padding: 10px 50px;
    border: transparent;
    background-color: #9792E4;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}
.title-white{
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.col-big h1{
    font-size: 40px;
    color: #9792E4;
    margin-bottom: 30px;
}
.col-big p{
    line-height: 40px;
    margin-bottom: 30px;
    font-size: 20px;
}
.col-small h2{
    font-size: 30px;
    line-height: 40px;
}
.col-small button{
    padding: 10px 50px;
    border: transparent;
    background-color: #9792E4;
    color: white;
    border-radius: 25px;
    margin-bottom: 20px;
}
.col-small{
    position: relative;
}
.big{
    font-size: 50px;
    color: #9792E4;
    position: relative;
    top: 45px;
    left: 140px;
    z-index: 3;
}
.gray{
    color: #BBB8ED;
    font-size: 20px;
}
.col-get-started{
    color: white;
}
.col-get-started h2{
    font-size: 40px;
    margin: 30px 0;
}
.col-get-started h1{
    font-size: 80px;
    margin: 40px 0;
    color: #FDC15F;
}
.col-get-started button{
    border-radius: 25px;
    border: transparent;
    background-color: white;
    color: #9792E4;
    padding: 20px 50px;
    margin: 30px 0;
}
.white{
    color: white;
}
footer{
    background-color: black;
    color: white;
    padding-top: 2rem;
}
.col-footer{
    width: 70%;
    text-align: center;
}
.col-footer p{
    margin: 40px 0;
}
.purple{
    color: #9792E4;
}


































/* TABLET */
@media screen and (min-width:576px){
    
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .col{
        width: calc(100% / 3);
        padding: 1rem;
    }
    .col .card{
        width: 100%;
        margin-bottom: 0;
        height: 100%;
    }
    .col-2-3 .big-card{
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        height: 100%;
    }
    
    .image img{
        width: 100%;
    }
    .col-2-3{
        width: calc(100% / 3 * 2);
        padding: 1rem;
    }
    .col-third{
        width: 100%;
        text-align: center;
    }
    .card-purple{
        display: flex;
        justify-content: center;
        align-items: center;
        max-height: 300px;
    }
    .circle-img{
        width: 200px;
    }
    .testimonials-des{
        text-align: left;
        margin-left: 30px;
        width: 80%;
    }
    .col-white{
        width: calc(100% / 2);
        padding: 1rem;
    }
    .card-white{
        margin-bottom: 0;
    }
    .aboutus{
        display: flex;
        flex-wrap: nowrap;
    }
    .col-big{
        width: 100%;
        text-align: left;
    }
    .col-small{
        width: 80%;
        padding-left: 2rem;
    }
}















/* DESKTOP */
@media screen and (min-width: 992px){
    .menu-icon{
        display: none;
    }
    .menu{
        display: flex;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
   .col{
        width: calc(100% / 3);
    }
    
    .col-2-3{
        width: calc(100% / 3 * 2);  
    }
    .text{
        width: 50%; 
    }
    .col-2-3 .big-card{
        flex-direction: row;
    }
    .image{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    }
    
    .image img{
        width: 250px;
    }
    .col-purple{
    width: 50%;
    }
    .align-purple{
        justify-content: space-between;
        position: relative;
        display: flex;
    }
    .col-purple{
        padding: 0 2rem;
    }
    .left-sec h2{
        font-size: 40px;
    }
    .left-sec p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 0;
    }
    .purple-section .left-sec{
        width: 100%;
    }
    .purple-section .right-sec{
        width: 30%;
        position: absolute;
        bottom: 40px;
    }
    .col-white{
        width:calc(100% / 3);
    }
    .aboutus{
        display: flex;
        flex-wrap: nowrap;
    }
    .col-big{
        padding-left: 2rem;
    }
}